        @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,900;1,300;1,500&display=swap');
        * {
            font-family: 'Raleway', sans-serif !important;
            border: none;
        }
        
        section .navbar {
            background-color: rgba(255, 255, 255, .5);
        }
        
        nav a img {
            margin-top: 20px;
            margin-left: 40px;
        }
        
        nav ul li {
            display: inline-block;
            font-weight: 700;
            font-size: 11px;
            letter-spacing: 2px;
            cursor: pointer;
        }
        
        nav .nav-link:hover {
            color: #EC5863 !important;
        }
        
        nav ul li a.nav-link {
            color: #000000 !important;
        }
        
        .navbar-expand-md {
            justify-content: flex-end !important;
        }
        
        button {
            border-radius: 5px;
            color: #ffffff;
            text-align: center;
            padding: 12px 30px;
            font-size: 10px;
            margin-left: 30px;
        }
        
        #nav-bar {
            position: sticky;
            top: 0;
            z-index: 10;
        }
        
        button:focus {
            outline: none;
        }
        
        .navbar .navbar-collapse {
            text-align: center;
        }
        
        .baner {
            margin-top: 50px;
        }
        
        .baner img {
            height: 380px;
        }
        
        .baner span {
            color: #4285F4;
        }
        
        .container-fluid h1 {
            font-weight: 700;
            font-size: 44px;
            color: #000000;
        }
        
        .container-fluid p {
            font-size: 12px;
            letter-spacing: 1px;
            color: #616161;
            margin-top: 15px;
        }
        
        .rectangle {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }
        
        .baner .video img {
            width: 100%;
            height: 50px;
            cursor: pointer;
        }
        
        .baner {
            position: relative;
        }
        
        .video {
            position: absolute;
            bottom: 0;
        }
        
        .features span {
            color: #EC5863;
        }
        
        .features {
            margin-top: 250px;
        }
        
        .features img {
            width: 100%;
            max-width: 90vw;
        }
        
        .btn-features {
            background-color: #EC5863;
            margin: 24px 0;
        }
        
        .support {
            background-color: #FAFBFD;
            padding: 50px;
            position: relative;
        }
        
        section.support .row {
            align-items: center;
            justify-content: space-around;
        }
        
        section.support .data {
            background-color: #ffffff;
            padding: 20px 35px;
            border-radius: 16px;
            text-align: center;
            width: 80vw;
            margin: 30px auto;
            position: relative;
            z-index: 2;
        }
        
        section.support .data h2 {
            font-size: 25px;
            line-height: 43px;
            font-weight: 700;
            color: #EC5863;
            margin-bottom: 3px;
        }
        
        section.support .data span {
            font-weight: 700;
            font-size: 11px;
            text-transform: uppercase;
            color: #000000;
        }
        
        .support .rectangle-support {
            position: absolute;
            top: 0;
            left: 25%;
            z-index: 1;
        }
        
        .contact {
            padding: 50px;
        }
        
        .contact span {
            color: #EC5863;
        }
        
        .contact .description p {
            width: 50vw;
            text-align: center;
        }
        
        .contact .items-contact {
            justify-content: space-around;
        }
        
        .contact .item-contact {
            box-shadow: 0 4px 18px rgba(88, 126, 236, .18);
            border-radius: 8px;
            margin-top: 50px;
            padding: 50px 5px;
            text-align: center;
        }
        
        .contact h3 {
            font-weight: 700;
            font-size: 14px;
            margin-top: 15px;
        }
        
        .contact .icons {
            margin: 50px 0 20px 0;
        }
        
        .reveal {
            position: relative;
            opacity: 0;
        }
        
        .reveal.active {
            opacity: 1;
        }
        
        .active.fade-left {
            animation: fade-left 1s ease-in;
        }
        
        .active.fade-right {
            animation: fade-right 1s ease-in;
        }
        
        .active.fade-bottom {
            animation: fade-bottom 1s ease-in;
        }
        
        @keyframes fade-left {
            0% {
                transform: translateX(-100px);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
        
        @keyframes fade-right {
            0% {
                transform: translateX(100px);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
        
        @keyframes fade-bottom {
            0% {
                transform: translateY(50px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
        
        @media screen and (max-width: 767px) {
            .rectangle {
                display: none;
            }
            .baner .img-baner img {
                display: none;
            }
            .support .rectangle-support {
                display: none;
            }
            .support img:first-child {
                width: 100%;
            }
            .features {
                margin-top: 150px;
            }
            .video {
                bottom: -80px;
            }
            .features div:first-child {
                margin-bottom: 60px;
            }
            section.support .data {
                margin: 0 auto;
            }
            .support {
                padding: 10px;
            }
            .support h1 {
                margin-top: 50px;
            }
            .contact .description {
                text-align: center;
            }
        }
        
        @media screen and (max-width: 1023px) {
            .rectangle-support {
                display: none;
            }
            .support h1 {
                margin-top: 85px;
            }
            .contact .description {
                text-align: center;
            }
            .video {
                bottom: -100px;
            }
        }
